.reviews {
    margin-top: 50px;
    padding-top: 50px;
    background: #000000;
    height: 313px;
    &__wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 330px);
        column-gap: 165px;
    }
    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
    }
    &__name {
        margin-top: 17px;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__descr {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: capitalize;
        color: #8A8A8A;
    }
}